---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14nbGKFYOxyDZoxzpMcCPY3G&description=MyFlix%20subscription%20charge%20for%20williet%40example.com
    headers:
      Authorization:
      - Bearer sk_test_MANzsX0sZz0gyZPWzoRRLVsO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14nbGLFYOxyDZoxztbMX3cz2",
          "object": "charge",
          "created": 1413316037,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14nbGKFYOxyDZoxz6abPUxuD",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2016,
            "fingerprint": "igHoBMrDb8HclSRS",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14nbGLFYOxyDZoxztbMX3cz2/refunds",
            "data": []
          },
          "balance_transaction": "txn_14nbGLFYOxyDZoxzfkVbVEEh",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "MyFlix subscription charge for williet@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Tue, 14 Oct 2014 19:47:17 GMT
recorded_with: VCR 2.9.3
