---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14sigJFYOxyDZoxzasrhNIhX&email=williet%40example.com&plan=myflix_basic
    headers:
      Authorization:
      - Bearer sk_test_MANzsX0sZz0gyZPWzoRRLVsO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1414536196,
          "id": "cus_52oIETqRNZeMzu",
          "livemode": false,
          "description": null,
          "email": "williet@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_52oIETqRNZeMzu/subscriptions",
            "data": [
              {
                "id": "sub_52oIx4LVzYVp4S",
                "plan": {
                  "interval": "month",
                  "name": "MyFlix Basic",
                  "created": 1414524533,
                  "amount": 1000,
                  "currency": "usd",
                  "id": "myflix_basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_description": "MyFlix Basic"
                },
                "object": "subscription",
                "start": 1414536196,
                "status": "trialing",
                "customer": "cus_52oIETqRNZeMzu",
                "cancel_at_period_end": false,
                "current_period_start": 1414536196,
                "current_period_end": 1417128196,
                "ended_at": null,
                "trial_start": 1414536196,
                "trial_end": 1417128196,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_52oIETqRNZeMzu/cards",
            "data": [
              {
                "id": "card_14sigJFYOxyDZoxzTZhW9auC",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2016,
                "fingerprint": "igHoBMrDb8HclSRS",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_52oIETqRNZeMzu"
              }
            ]
          },
          "default_card": "card_14sigJFYOxyDZoxzTZhW9auC"
        }
  recorded_at: Tue, 28 Oct 2014 22:43:16 GMT
recorded_with: VCR 2.9.3
