
/*




*/


@import 'bootstrap-sprockets';
@import 'bootstrap';
.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/whitespace-reset.sass */
ul, ol {
  list-style: none;
}

/* line 4, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/whitespace-reset.sass */
h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em;
}

/* line 6, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/whitespace-reset.sass */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}

/* line 9, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/whitespace-reset.sass */
a img, :link img, :visited img, fieldset {
  border: none;
}

/* line 11, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/whitespace-reset.sass */
address {
  font-style: normal;
}

/* line 13, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/whitespace-reset.sass */
header, section, article, nav, footer, hgroup {
  display: block;
}
/* line 3, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/account_and_billing.sass */
section.account form {
  background: #f7f7f7;
  padding: 30px;
}
/* line 7, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/account_and_billing.sass */
section.account form header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 11, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/account_and_billing.sass */
section.billing {
  margin: 30px auto;
}
/* line 13, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/account_and_billing.sass */
section.billing .plan_and_payments {
  background-color: #f7f7f7;
  padding: 20px;
}
/* line 18, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/account_and_billing.sass */
section.billing table tr th {
  font-weight: normal;
}
/* line 22, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/account_and_billing.sass */
section.billing section.plan header {
  margin-bottom: 30px;
}
/* line 24, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/account_and_billing.sass */
section.billing section.plan header h1 {
  font-size: 24px;
}
/* line 28, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/account_and_billing.sass */
section.billing form input[type="submit"] {
  margin-bottom: 30px;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/admin.sass */
section.admin_add_video {
  background-color: #f7f7f7;
  padding: 30px;
  margin: 0 0 30px;
}
/* line 7, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/admin.sass */
section.admin_add_video form header {
  margin-bottom: 20px;
}
/* line 9, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/admin.sass */
section.admin_add_video form header h1 {
  font-size: 20px;
}

/* line 12, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/admin.sass */
section.admin_payments {
  background-color: #f7f7f7;
  padding: 30px;
  margin: 0 0 30px;
}
/* line 16, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/admin.sass */
section.admin_payments header {
  margin-bottom: 20px;
}
/* line 18, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/admin.sass */
section.admin_payments header h1 {
  font-size: 20px;
}
/* line 22, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/admin.sass */
section.admin_payments table tr th {
  font-weight: normal;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/general.sass */
body {
  margin: 20px;
  background-color: #e1e1e1;
}
/* line 5, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/general.sass */
body a {
  color: #ae1d00;
}
/* line 7, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/general.sass */
body section.content {
  padding-bottom: 50px;
  border-bottom: 3px solid #b9090b;
  margin-bottom: 20px;
}

/* line 12, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/general.sass */
section.ui-index {
  background: #f7f7f7;
  padding: 30px;
}

/* line 17, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/general.sass */
fieldset.actions input[type="submit"] {
  margin-right: 10px;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/genre.sass */
section.genre {
  margin: 30px 10px 0 10px;
}
/* line 4, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/genre.sass */
section.genre header {
  padding-bottom: 30px;
  border-bottom: 2px solid #bbbbb9;
  box-shadow: white 0 1px 0 0;
}
/* line 8, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/genre.sass */
section.genre header h1 {
  font-size: 32px;
  float: left;
}
/* line 11, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/genre.sass */
section.genre header .genre_sorting {
  float: right;
}
/* line 13, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/genre.sass */
section.genre header select {
  margin-top: 4px;
  margin-left: 10px;
  width: 120px;
}
/* line 18, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/genre.sass */
section.genre article > .video {
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header {
  background: #b9090b;
  margin: 0;
  margin-bottom: 20px;
  padding: 12px 0;
  border-radius: 5px;
}
/* line 8, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header a {
  color: white;
}
/* line 10, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header h1 {
  font-size: 20px;
}
/* line 12, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header > ul {
  padding-top: 12px;
}
/* line 14, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header > ul li {
  float: left;
  margin-right: 30px;
  text-transform: uppercase;
}
/* line 18, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header > ul li:first-of-type {
  margin-left: -15px;
}
/* line 20, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header form {
  padding-top: 6px;
  margin: 0;
}
/* line 23, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header form input[type="text"] {
  width: 320px;
  float: left;
}
/* line 26, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header form input[type="submit"] {
  margin-left: 10px;
  float: left;
}
/* line 29, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header #user_links {
  padding-top: 8px;
}
/* line 32, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header #user_links > ul > li {
  float: left;
  width: 200px;
}
/* line 35, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header #user_links > ul > li a {
  margin: 0 10px;
}
/* line 37, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header #user_links > ul > li a b {
  border-top-color: white;
}
/* line 41, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header #user_links > ul > li > ul > li.open section#top-header #user_links > ul > li > ul > li:hover {
  background: red;
}
/* line 43, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/header.sass */
section#top-header #user_links > ul > li > ul > li a {
  color: black;
  margin: 0;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/home.sass */
article.video_category {
  margin-bottom: 20px;
  padding: 20px 10px;
}
/* line 5, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/home.sass */
article.video_category header {
  margin-bottom: 20px;
}
/* line 7, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/home.sass */
article.video_category header h3 {
  font-size: 18px;
}
/* line 9, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/home.sass */
article.video_category header h3 a {
  color: black;
}
/* line 3, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/invite.sass */
section.invite form {
  background: #f7f7f7;
  padding: 30px;
}
/* line 7, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/invite.sass */
section.invite form header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/people.sass */
section.people {
  width: 950px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f7f7f7;
}
/* line 8, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/people.sass */
section.people header {
  margin-bottom: 30px;
}
/* line 9, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/people.sass */
section.people header h2 {
  font-size: 24px;
}
/* line 13, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/people.sass */
section.people table {
  border-bottom: 1px solid #dddddd;
}
/* line 17, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/people.sass */
section.people table tbody tr th, section.people table tbody tr td, section.people table thead tr th, section.people table thead tr td {
  text-align: center;
}
/* line 20, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/people.sass */
section.people table tbody tr td img, section.people table thead tr td img {
  margin-right: 10px;
}
/* line 22, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/people.sass */
section.people table tbody tr td.extra-padding, section.people table thead tr td.extra-padding {
  padding-top: 18px;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.site_title {
  background: #f7f7f7;
  padding: 100px 215px;
}
/* line 5, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.site_title h1 {
  font-size: 32px;
  margin-bottom: 30px;
}
/* line 8, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.site_title p.sign_up {
  font-size: 24px;
  margin-bottom: 30px;
}

/* line 13, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.register form, section.sign_in form, section.reset_password form {
  background: #f7f7f7;
  padding: 30px;
}
/* line 17, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.register form header h1, section.sign_in form header h1, section.reset_password form header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 23, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.register form fieldset.credit_card {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
}
/* line 26, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.register form fieldset.credit_card select#date_month {
  margin-right: 25px;
}

/* line 29, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.forgot_password {
  background: #f7f7f7;
  padding: 30px;
}
/* line 34, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.forgot_password form header h1 {
  font-size: 24px;
}
/* line 36, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.forgot_password form header p {
  margin-bottom: 20px;
}

/* line 39, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.confirm_password_reset, section.invalid_token, section.reset_password {
  background: #f7f7f7;
  padding: 30px;
}
/* line 44, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.confirm_password_reset form header h1, section.invalid_token form header h1, section.reset_password form header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 47, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/public_pages.sass */
section.confirm_password_reset form header p, section.invalid_token form header p, section.reset_password form header p {
  margin-bottom: 20px;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue {
  margin: 0 auto;
}
/* line 5, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue article {
  background-color: #f7f7f7;
  padding: 20px;
}
/* line 8, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue article header {
  margin-bottom: 30px;
}
/* line 9, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue article header h2 {
  font-size: 24px;
}
/* line 13, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue table {
  border-bottom: 1px solid #dddddd;
}
/* line 17, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue table tbody tr th, section.my_queue table tbody tr td, section.my_queue table thead tr th, section.my_queue table thead tr td {
  text-align: center;
}
/* line 20, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue table tbody tr td input[type="text"], section.my_queue table thead tr td input[type="text"] {
  width: 40px;
}
/* line 22, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue table tbody tr td input[type="submit"], section.my_queue table thead tr td input[type="submit"] {
  width: 80px;
}
/* line 24, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/queue.sass */
section.my_queue table tbody tr td select, section.my_queue table thead tr td select {
  width: 100px;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user {
  margin: 30px auto;
}
/* line 5, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user article {
  background-color: #f7f7f7;
  padding: 20px;
}
/* line 8, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user article header {
  margin-bottom: 30px;
}
/* line 10, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user article header img {
  float: left;
  margin-right: 16px;
}
/* line 13, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user article header h2 {
  font-size: 16px;
  font-weight: normal;
}
/* line 16, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user article header a {
  float: right;
}

/* line 23, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user_reviews ul article.review {
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  padding-top: 20px;
}
/* line 28, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user_reviews ul article.review li span {
  font-size: 14px;
}
/* line 30, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/user.sass */
section.user_reviews ul article.review li:last-of-type {
  border-bottom: none;
}
/* line 2, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
article.video {
  background-color: #f7f7f7;
  padding: 30px;
  margin: 0 0 30px;
}
/* line 6, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
article.video .video_info {
  margin-left: 30px;
}
/* line 8, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
article.video .video_info header {
  padding-bottom: 8px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dddddd;
}
/* line 12, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
article.video .video_info header h3 {
  font-weight: bold;
  font-size: 20px;
}
/* line 15, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
article.video .video_info p {
  margin-bottom: 20px;
}
/* line 18, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
article.video .video_info .actions a {
  margin-right: 20px;
}

/* line 22, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
section.reviews form {
  margin-bottom: 30px;
}
/* line 25, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
section.reviews ul article.review {
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  padding-top: 20px;
}
/* line 30, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
section.reviews ul article.review li span {
  font-weight: bold;
  font-size: 14px;
}
/* line 33, /Users/michaelpmartin/Documents/projects/myflix/app/assets/stylesheets/videos.sass */
section.reviews ul article.review li:last-of-type {
  border-bottom: none;
}
