
%section.confirm_password_reset.container
  .row
    .col-sm-10.col-sm-offset-1
      = "Please check your inbox. We just sent instructions for resetting your password to the email address you submitted."
