
- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to category.name, category_path(category)
    .videos.row
      - if !category.videos.nil?
        - category.most_recent.each do |video|
          .video.col-sm-2
            = link_to video_path(video), nil do
              -# %img(src="/public/uploads/display_#{video.small_cover}")
              %img{ src: "#{video.small_cover}" }
