---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_MANzsX0sZz0gyZPWzoRRLVsO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14nbA3FYOxyDZoxz3W0rJwSy",
          "livemode": false,
          "created": 1413315647,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14nbA3FYOxyDZoxzAfELcIxB",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2015,
            "fingerprint": "tkXcetYohGAB9OZU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 14 Oct 2014 19:40:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14nbA3FYOxyDZoxz3W0rJwSy&description=An%20invalid%20test%20charge.
    headers:
      Authorization:
      - Bearer sk_test_MANzsX0sZz0gyZPWzoRRLVsO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14nbA4FYOxyDZoxzZZLpGLz1"
          }
        }
  recorded_at: Tue, 14 Oct 2014 19:40:48 GMT
recorded_with: VCR 2.9.3
