
!!! 5
%html(lang="en-US")
  %body
    %section.container
      .row
        .col-sm-10.col-sm-offset-1
          %article
            %header
              %h2= "Please reset your password, #{@user.full_name}."
              %p Click the link below to get started.
              %p.sign_in
                = link_to '#' do
                  = 'Reset my password.'
