
%form
  %fieldset
    .form-group
      %label Rate this video
      .row
        .col-sm-3
          %select.form-control(name="")
            %option(value="5") 5 Stars
            %option(value="4") 4 Stars
            %option(value="3") 3 Stars
            %option(value="2") 2 Stars
            %option(value="1") 1 Star
    .form-group
      %label Write Review
      .row
        .col-sm-8
          %textarea.form-control(name="" rows="6")
  %fieldset.form-group.actions.clearfix
    %input(type="submit" value="Submit" class="btn")
    %a(href="") Cancel

-# = bootstrap_form_for [@video, @review] do |f|
-#   %fieldset
-#     = f.form_group :rating, label: 'Rate this video' do
-#       .row
-#         .col-sm-3
-#           = f.select :rating, [['5 Stars', 5], ['4 Stars', 4], ['3 Stars', 3], ['2 Stars', 2], ['1 Star', 1]], class: "form-control(name='')"
-#     = f.form_group :body, label: 'Write Review' do
-#       .row
-#         .col-sm-8
-#           = f.text_area :body, class: "form-control(name='' rows='6')"
-#   %fieldset
-#     = f.form_group do
-#       = f.submit
